/* Homepage styles */

#homepage-container {
  height: 100%;
}

.home-div {
  width: 49%;
  height: 100%;
  display: inline-block;
  position: fixed;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  transition: width 0.5s linear;
  overflow: hidden;
  padding: 10%;
}

#home-buy-div {
  left: 0;
  background-color: green;
  transform: skew(-30deg);
}

#home-sell-div {
  right: 0;
  background-color: blue;
  transform: skew(-30deg)
}

.home-div:hover {
  z-index: 2;
  width: 80%;
}
